.App {
  /* text-align: center; */
  height: 100vh;
}

.bg-primary{
  background-color: #6e6e70!important;
}

.bg-secondary{
  background-color: #eae5e5!important;
}

#footer {
  max-height: 100px;
}

#card-img {
  height: 50px;
  width: 50px;
}

.photoDescription{
  background-color: rgba(110, 110, 112, 0.5);
}


/* for main page */
@media all and (max-height: 650px) {
  h3 {
    display: none;
  }

 #main-img {
    width: 60%;
  }
}



/* lg custom styles */
@media all and (max-width: 992px){
  .navBarItemTitle{
    font-size: 0.7rem;
  }
  .navBarTitleImage {
    width: 40px;
    height: 40px;
  }
}



/* md custom styles */
@media all and (max-width: 768px) {
  .navBarColumn {
    padding-left: 0px;
    padding-right: 0px;
  }

  .navBarTitleImage {
    margin-left: 0px!important;
  }


}